

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #023047;
    color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.main {
    
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color: #FFB703;
}

#date-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#entry-calendar {
    width: fit-content;
}

.entry-form, .result-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.notepad {
    height: 300px;
}

#entry-submit-btn, #edit-btn, #select-submit-btn {
    width: fit-content;
    padding: .25rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #8ECAE6;
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

.icon {
    width: 40px;
}

.mobile-menu {
    /* transform: translateX(100%); */
    position: absolute;
    inset: 0;
    z-index: 2;
    min-height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}



.mobile-nav-link {
    color: #001229;
}




/* Search */

#select-submit-btn {
    display: none;
}

.selection {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#selection-calendar, #select-date {
    width: 116px;
}

#select-date {
    background-color: #8ECAE6;
    cursor: pointer;
}