body, html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    padding: 4em;
}

.entry-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.notepad {
    height: 200px;
}